@import url('https://fonts.googleapis.com/css?family=Gelasio|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

body{font-family: 'Ubuntu', sans-serif;}
 
h1,h2,h3,h4,h5{
  font-family: 'Gelasio', serif;
}
h1, h2{
  text-align: center;
}

h1 a{color: #ff0066; text-decoration: none; }
h1 a:hover{color: #ff0066; text-decoration: none; }
h1 a:visited{color: #ff0066; text-decoration: none; }

p{text-align: justify;}
a, a:hover, a:visited{color: #009999; text-decoration: none; font-weight: bold;}

* {
  box-sizing: border-box;
}

.container-lg{
  width: 95%; margin: auto;
}

.highlight, blockquote{
background-color: #e6f2ff; color: #006699; padding-left: 8px; padding-right: 8px; font-weight: bold; padding-bottom: 2px;
}

 blockquote{
font-family: 'Courier Prime', monospace; font-size: 11px;
}

.language-plaintext{
background-color: #006699; color: #e6f2ff; font-weight: bold; padding-left: 3px; padding-right: 3px; 
}
