@import url('https://fonts.googleapis.com/css?family=Gelasio|Ubuntu&display=swap');


h1,h2,h3,h4,h5{
  font-family: 'Gelasio', serif;
}
h1{
  text-align: center;
}
h1.a,, h1.a:hover, h1.a:visited{
  color: #ff0066;
  text-decoration: none;

}
